body{
    background-color: rgb(236, 227, 227);
    background-size: cover;
    background: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('C:\Users\negip\OneDrive\Desktop\react_design_pattern\fullacc\mui\src\humming-bird-1935665_1920.png');
}